.idea
*.iml
target
*.log.*
*.log
/.project
.settings

*.class
 
# Package Files #
*.jar
*.war
*.ear
 
# ignore Maven generated target folders
target
 
# ignore eclipse files
.project
.classpath
.settings
.metadata

lib/
meetyou-web/disconf/
meetyou-web/loggingRoot_IS_UNDEFINED/
